.container {
    margin               : 0px;
    padding              : 0px;
    display              : grid;
    grid-template-areas  : 'a b';
    grid-template-columns: 50% 50%;
    grid-template-rows   : 1fr;
    grid-gap             : 5px;
}

.text {
    text-align: center;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.col {
    padding: 0px;
    margin : 0px;
    width  : 100%;
}

.select {
    margin-bottom: 10px;
}

.input {
    margin-bottom: 10px;
}

.courier {
    display              : grid;
    grid-template-areas  : 'street house apatment';
    grid-gap             : 10px;
    grid-template-columns: 50% 24% 22%;
    grid-template-rows   : 50px;
    margin-top           : 30px;

}

.street {
    grid-area: street;
}

.house {
    grid-area: house;
}

.apatment {
    grid-area: apatment;
}