.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 600px;
    padding: 5px;
}

.h2 {
    margin: auto;
}

.form {
    display: flex;
    flex: column;
}

.control {
    margin-top: 3px;
}

.row {
    display: flex;
    justify-content: end;
    margin-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.control {
    margin: 5px;
    padding: 5px;
    }