    .container {
        display: grid;
        grid-template-areas: 'type brand''type list''pages pages';
        grid-gap: 15px;
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 300px 1fr;
        margin-top: 5px;
        background-color: cornsilk;
    }
    
    .box1 {
        grid-area: brand;
        margin: 0px;
        padding: 0px;
    }
    
    .box2 {
        grid-area: type;
        margin: 0px;
        padding: 0px;
        align-self: flex-start;
    }
    
    .box3 {
        grid-area: list;
        margin: 0px;
        padding: 0px;
    }
    
    .box4 {
        grid-area: pages;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }