.invalid {
    margin: 2px;
    padding: 2px;
    color: red;
}

.valid {
    margin: 2px;
    padding: 2px;
    color: forestgreen;
}

.nutral {
    margin: 5px;
    padding: 5px;
    color:deepskyblue
    
}