.container {
    display: grid;
    grid-template-areas:
        'HeaderTop'
        'NavBar'
        'AppRouter'
        'Footer';
    grid-gap             : 10px;
    grid-template-columns: 1fr;
    grid-template-rows   : 1fr;

}

.headertop {
    grid-area: HeaderTop;
}

.navbar {
    grid-area: NavBar
}

.approuter {
    grid-area: AppRouter
}

.footer {
    grid-area: Footer
}